/* -----------------------------------------------------
 * Wlogout Configuration
 * ----------------------------------------------------- */

window {
	background-color: rgba(20, 20, 24, 0.5);
	font-family: "JetBrainsMono Nerd Font";
}

button {
	color: #cdd6f4;
	background-color: rgba(255, 255, 255, 0.3);
	border-style: solid;
	border-width: 2px;
	border-color: rgba(137, 180, 250, 0.2);
	border-radius: 15px;
	margin: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-in-out;
}

button:focus,
button:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.7);
	border-color: #ffffff;
	background-size: 30%; 
	box-shadow: 0 0 20px rgba(137, 180, 250, 0.6);
	outline: none;
}

/* -----------------------------------------------------
 *  ICONS
 * ----------------------------------------------------- */

#lock {
background-image: image(url("icons/lock.png"));
}

#logout {
background-image: image(url("icons/logout.png"));
}

#suspend {
background-image: image(url("icons/suspend.png"));
}

#hibernate {
background-image: image(url("icons/hibernate.png"));
}

#shutdown {
background-image: image(url("icons/shutdown.png"));
}

#reboot {
background-image: image(url("icons/reboot.png"));
}
