@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-7 rgba(63, 63, 70, 1);

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    /*  background: transparent; */
    background-color: #000000;
}

#window,
#clock,
#tray,
#network,
#volume,
#mpris,
#power-profiles-daemon,
#battery,
#custom-power {
/*  background: rgba(30, 30, 46, 0.85); */
color: #cdd6f4;
border-radius: 4px;
padding: 0 5px;
margin: 3px;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

#custom-logo {
color: #ffffff;
margin-left: 10px;
}

#custom-separator {
color: rgba(255, 255, 255, 0.3);
}

#tags button {
color: #9e9b99;
padding: 0 3px;
border-radius: 8px;
transition: all 0.2s ease;
}

#tags button.focused {
color: #ffffff;
}

#mpris {
color: #ffffff;
padding: 0 10px;
}
#mpris.paused {
color: #a0a0a0;
}

#window {
color: #f9e2af;
}

#clock {
color: #ffffff;
}

#power-profiles-daemon {
padding-left: 6px;
padding-right: 8px;
}

#power-profiles-daemon.performance {
color: #ffffff;
}

#power-profiles-daemon.balanced {
color: #ffffff;
}

#power-profiles-daemon.power-saver {
color: #ffffff;
}

#network {
color: #ffffff;
}

#pulseaudio {
color: #ffffff;
}

#battery {
color: #94e2d5;
}

#battery.warning {
color: #f9e2af;
}

#battery.critical {
color: #f38ba8;
animation-name: blink;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}

#custom-power {
color: #ffffff;
padding-right: 10px;
padding-left: 5px;
}

@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #1e1e2e;
    }
}
